<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--SourceDirectory is the folder where you want to copy files from-->
    <add key="SourceDirectory" value="C:\\Temp\\FolderToWatch" />
    <!--DestinationDirectory is the folder you want to copy to-->
    <add key="DestinationDirectory" value="C:\\Temp\\FolderToCopyTo" />
    <!--FileFilter is a comma-separated list of filters for files to be copied-->
    <add key="FileFilter" value="*.csv, *.txt" />
    <!--EventLogSource is name of source in Windows log "application" that this program will write to-->
    <add key="EventLogSource" value="FileBackupService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>